:root {
  line-height: 1.5;
  font-weight: 400;
  font-family: 'Courier New', Courier, monospace;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  background-color: bisque;
  display: flex;
  justify-content: center;
  text-align: center;
  margin: 2rem 0;
  height: 100vh;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#rectangle {
  width: 40%;
  height: 20vh;
  border: 3px solid black;
}

p {
  color: #232323;
  margin-bottom: 0;
  font-size: larger;
  padding: 0 2.5rem;
}

h3 {
  color: bisque;
}

h3.game-instructions {
  color: #232323;
  font-weight: semi-bold;
  width: 60%;
}

color-options {
  margin-top: 0;
}

button {
  cursor: pointer;
  padding: 0.6rem 1rem;
  border-radius: 5px;
  border: none;
}

.color-options {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

button.color-option {
  padding: 1rem 1.5rem;
  margin: 0.5rem;
  transition: transform 0.3s;
}

button.color-option:hover {
  transform: scale(1.2);
}

button#reset {
  background-color: #fc5f71;
  color: aliceblue;
  margin: 1rem;
  font-size: larger;
  box-shadow: 5px 5px 2px #aaaaaa;
  transition: all 0.3s;
}

button#reset:hover {
  transform: translate(-2px, -2px);
  box-shadow: 7px 7px 2px #b4b4b4;
  background-color: #e35061;
}

/* Animations */
@keyframes correctGuess {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  50% {
    transform: scale(1.2);
    opacity: 0.8;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

.correct {
  animation: correctGuess 0.5s ease-in-out;
}

@keyframes wrongGuess {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-10px);
  }
  50% {
    transform: translateX(10px);
  }
  75% {
    transform: translateX(-10px);
  }
  100% {
    transform: translateX(0);
  }
}

.wrong {
  animation: wrongGuess 0.5s ease-in-out;
}

/* @keyframes fadeOut {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.4;
  }
  100% {
    opacity: 1;
  }
}

.fade {
  animation: fadeOut 0.5s ease-in-out;
} */

/* Media Queries */

@media (max-width: 768px) {
  #rectangle {
    width: 70%;
  }
  h3.game-instructions {
    width: 80%;
  }
}

@media (max-width: 480px) {
  #rectangle {
    width: 80%;
  }
  p.game-instructions {
    margin-bottom: 0;
    font-size: medium;
    padding: 0.5rem;
  }
  .color-options {
    padding: 0 1rem;
  }
  .color-options .color-option {
    flex: 1 1 25%;
    margin: 0.5rem;
  }
}
